<div class="page-header">
    <h1>Item Query</h1>

    <form class="form-querry">
    	<h2 class="form-querry-heading">Filter</h2></label>
    	<div style="display: inline">
    	<input type="text" id="query" class="form-control" placeholder="Filter" ng-model="filter">
    	<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login();">Filter</button>
		</div>
	</form>
</div>

<style type="text/css">
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin button {
    margin-top: 40px;
}
.form-signin a {
    margin: 10px 0;
}
</style>